main{
    max-width: 840px;
    margin: auto;
}

h1{
    color:steelblue;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2); 
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;  
}

main img {
  width: 150px;
  height: auto;
}

p {
  padding: 0;   
}

footer {
  margin-top: 2rem;                     
  border-top: 1px solid rgb(0 0 0 / .2);
  text-align: center;                  
  padding: 1rem;
}