 *{
    margin:0;
    padding: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
}

header,footer{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.5re 
}

main{
    width: 400px;
    margin: 0 auto;
}

h1{
    margin: 10px;
    text-align: center;
}

img{
    width: 100px;
    height: auto;
    box-shadow: 0 0 30px #333;
}

section{
    margin: 20px 0;
    border: 1px solid rgb(0 0 0/ 100%);
    padding: 10px;
    background-color: #ddd;
    font-size: 9rem;
}

section p{
    margin:10px;
}

ul{
    margin: 10px 20px;
}

footer{
    font-size: 0.9rem;
}